body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;   
    cursor: pointer;
    font-size: 15px;
}

#logInBtn {
    background-color: yellow;
    margin-right: 0.5em;
}

#registerBtn {
    background-color: greenyellow;
}

#registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submitBtn, #submitBtnLogIn {
    display: block;
    margin: 10px auto;
    background-color: cadetblue;
    color: white;
}

#registerForm, #logInForm {
    margin-top: 2em;
    display: none;
}

.usernameDiv {
    margin-bottom: 1em;
}

#message {
    text-align: center;
}